<div class="paddingTop-xxl">
    <div class="position-relative padding-m bpl-padding-l bg-snow bw-0 bwb-3 bc-green bs-solid btrr-m btlr-m">
        <div class="c-black fs-m bpl-fs-xl lh-l fw-3">
            <div class="marginBottom-m">
                We've built a reputation for being reliable, honest and straight talking, ensuring that we are a construction partner that our client wholeheartly trust.
            </div>

            <div class="ta-right">
                &mdash; John Moloney
            </div>
        </div>
    </div>
</div>
