<section class="position-relative pageWrap pageWrap--l paddingBottom-l bps-paddingBottom-xl bpm-paddingBottom-xxl">
    <div class="grid grid--1 bpm-grid--3-7 bpm-grid--l bpl-grid--xl">
        <div class="sticky clearfix display-none bpm-display-block">
            {% include quote.html %}
        </div>

        <div>
            <div class="post paddingTop-l bps-paddingTop-xl bpm-paddingTop-xxl">
                {{ content }}
            </div>
        </div>
    </div>
</section>

{% include upsell.html %}
