<div class="ws-normal bpm-padding-s">
    <div class="display-table boxShadow-sublte bw-1 bs-solid bc-smoke br-m padding-l" style="min-height: 440px">
        <div class="display-tableCell va-middle">
            <div class="position-relative marginTopBottom-xl clearfix">
                <div class="marginBottom-s">
                    <p class="c-black fw-3 fs-l lh-l">
                        {{ include.text }}
                    </p>
                </div>

                <div class="ta-center">
                    <div class="marginBottom-xs">
                        <p class="c-black fw-6 fs-m bps-fs-l lh-l lh-m">
                            {{ include.person }}
                        </p>
                    </div>

                    <div class="">
                        <p class="c-silver fw-3 fs-m lh-m">
                            {{ include.city }}
                        </p>
                    </div>
                </div>

                <div class="position-absolute pe-none us-none" style="top: -70px; left: -10px">
                    <span class="c-smoke--d font-playfair opacity-30" style="font-size: 8rem">&#8220;</span>
                </div>

                <div class="position-absolute pinBR pe-none us-none" style="bottom: -60px">
                    <span class="c-smoke--d font-playfair opacity-30" style="font-size: 8rem">&#8221;</span>
                </div>
            </div>
        </div>
    </div>
</div>
