/*
 * Grid
 * -------------------------
 */

.grid:before,
.grid:after {
    content: "";
    display: table;
}

.grid:after    { clear: both }
.grid          { *zoom: 1 }

.grid > div    { float: left }


// Columns
// -------------------------

.grid--1 > div                  { width: 100%; }
.grid--2 > div                  { width: 50%; }
.grid--3 > div                  { width: 33.3333%; }
.grid--4 > div                  { width: 25%; }
.grid--5 > div                  { width: 20%; }
.grid--6 > div                  { width: 16.6666%; }

.grid--6-4 > div:first-child    { width: 60%; }
.grid--6-4 > div:last-child     { width: 40%; }

.grid--7-3 > div:first-child    { width: 70%; }
.grid--7-3 > div:last-child     { width: 30%; }

.grid--3-7 > div:first-child    { width: 30%; }
.grid--3-7 > div:last-child     { width: 70%; }

// Gutter sizes
// -------------------------

.grid--xl        { margin-top: -$spacing-xl; margin-left: -$spacing-xl; }
.grid--xl > div  { padding-top: $spacing-xl; padding-left: $spacing-xl; }

.grid--l         { margin-top: -$spacing-l; margin-left: -$spacing-l; }
.grid--l > div   { padding-top: $spacing-l; padding-left: $spacing-l; }

.grid--m         { margin-top: -$spacing-m; margin-left: -$spacing-m; }
.grid--m > div   { padding-top: $spacing-m; padding-left: $spacing-m; }

@include breakPoint(s) {
    // Columns
    // -------------------------

    .bps-grid--1 > div                  { width: 100; }
    .bps-grid--2 > div                  { width: 50%; }
    .bps-grid--3 > div                  { width: 33.3333%; }
    .bps-grid--4 > div                  { width: 25%; }
    .bps-grid--5 > div                  { width: 20%; }
    .bps-grid--6 > div                  { width: 16.6666%; }

    .bps-grid--6-4 > div:first-child    { width: 60%; }
    .bps-grid--6-4 > div:last-child     { width: 40%; }

    .bps-grid--7-3 > div:first-child    { width: 70%; }
    .bps-grid--7-3 > div:last-child     { width: 30%; }

    .bps-grid--3-7 > div:first-child    { width: 30%; }
    .bps-grid--3-7 > div:last-child     { width: 70%; }

    // Gutter sizes
    // -------------------------

    .bps-grid--xl        { margin-top: -$spacing-xl; margin-left: -$spacing-xl; }
    .bps-grid--xl > div  { padding-top: $spacing-xl; padding-left: $spacing-xl; }

    .bps-grid--l         { margin-top: -$spacing-l; margin-left: -$spacing-l; }
    .bps-grid--l > div   { padding-top: $spacing-l; padding-left: $spacing-l; }

    .bps-grid--m         { margin-top: -$spacing-m; margin-left: -$spacing-m; }
    .bps-grid--m > div   { padding-top: $spacing-m; padding-left: $spacing-m; }
}

@include breakPoint(m) {
    // Columns
    // -------------------------

    .bpm-grid--1 > div                  { width: 100; }
    .bpm-grid--2 > div                  { width: 50%; }
    .bpm-grid--3 > div                  { width: 33.3333%; }
    .bpm-grid--4 > div                  { width: 25%; }
    .bpm-grid--5 > div                  { width: 20%; }
    .bpm-grid--6 > div                  { width: 16.6666%; }

    .bpm-grid--6-4 > div:first-child    { width: 60%; }
    .bpm-grid--6-4 > div:last-child     { width: 40%; }

    .bpm-grid--7-3 > div:first-child    { width: 70%; }
    .bpm-grid--7-3 > div:last-child     { width: 30%; }

    .bpm-grid--3-7 > div:first-child    { width: 30%; }
    .bpm-grid--3-7 > div:last-child     { width: 70%; }

    // Gutter sizes
    // -------------------------

    .bpm-grid--xl        { margin-top: -$spacing-xl; margin-left: -$spacing-xl; }
    .bpm-grid--xl > div  { padding-top: $spacing-xl; padding-left: $spacing-xl; }

    .bpm-grid--l         { margin-top: -$spacing-l; margin-left: -$spacing-l; }
    .bpm-grid--l > div   { padding-top: $spacing-l; padding-left: $spacing-l; }

    .bpm-grid--m         { margin-top: -$spacing-m; margin-left: -$spacing-m; }
    .bpm-grid--m > div   { padding-top: $spacing-m; padding-left: $spacing-m; }
}

@include breakPoint(l) {
    // Columns
    // -------------------------

    .bpl-grid--1 > div                  { width: 100; }
    .bpl-grid--2 > div                  { width: 50%; }
    .bpl-grid--3 > div                  { width: 33.3333%; }
    .bpl-grid--4 > div                  { width: 25%; }
    .bpl-grid--5 > div                  { width: 20%; }
    .bpl-grid--6 > div                  { width: 16.6666%; }

    .bpl-grid--6-4 > div:first-child    { width: 60%; }
    .bpl-grid--6-4 > div:last-child     { width: 40%; }

    .bpl-grid--7-3 > div:first-child    { width: 70%; }
    .bpl-grid--7-3 > div:last-child     { width: 30%; }

    .bpl-grid--3-7 > div:first-child    { width: 30%; }
    .bpl-grid--3-7 > div:last-child     { width: 70%; }

    // Gutter sizes
    // -------------------------

    .bpl-grid--xl        { margin-top: -$spacing-xl; margin-left: -$spacing-xl; }
    .bpl-grid--xl > div  { padding-top: $spacing-xl; padding-left: $spacing-xl; }

    .bpl-grid--l         { margin-top: -$spacing-l; margin-left: -$spacing-l; }
    .bpl-grid--l > div   { padding-top: $spacing-l; padding-left: $spacing-l; }

    .bpl-grid--m         { margin-top: -$spacing-m; margin-left: -$spacing-m; }
    .bpl-grid--m > div   { padding-top: $spacing-m; padding-left: $spacing-m; }
}
