//
// Box shadows
// -------------------------

$boxShadow-smoke:   inset 0 0 0 1px $smoke;
$boxShadow-green:   inset 0 0 0 1px $green;
$boxShadow-raise:   0px 1px 3px 0px rgba($black,0.15);
$boxShadow-sublte:  0px 2px 2px 0px rgba(0,0,0,0.05);
$boxShadow-fly:     0 0 120px 0 rgba(0, 0, 0, 0.1);

.boxShadow-smoke  { box-shadow: $boxShadow-smoke }
.boxShadow-green  { box-shadow: $boxShadow-green }
.boxShadow-raise  { box-shadow: $boxShadow-raise }
.boxShadow-sublte { box-shadow: $boxShadow-sublte }
.boxShadow-fly    { box-shadow: $boxShadow-fly }
